{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>refreshify : update profile</title>
    <link rel="stylesheet" href="{% static 'css/update-profile.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Update Your Profile</h2>
        <div class="profile-picture-preview">
            <img src="{{ request.user.profile.profile.url }}" alt="Profile Picture" id="profilePreview">
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <label class="custom-file-upload">
                <input type="file" name="profile" id="profileInput" onchange="previewImage(event)">
                Choose Profile Picture
            </label>
            <button type="submit">Save</button>
        </form>
    </div>
    <script>
        function previewImage(event) {
            const reader = new FileReader();
            reader.onload = function () {
                const preview = document.getElementById('profilePreview');
                preview.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
</body>
</html>
